In [27]:
import pandas as pd
import io
import requests
import time

In [101]:
##This function is modified to retrived most historical stock data from NASDAQ and NYSX
##This function cannot retrieve historical index data since Google Finance does not support downding this type of data
##This function return dataframe
month_exe = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
def google_stocks(symbol, startdate, enddate = None):
    
    startdate = month_exe[startdate[0]] + '%20' + str(startdate[1]) + '%2C%20' + str(startdate[2])

    enddate = month_exe[enddate[0]] + '%20' + str(enddate[1]) + '%2C%20' + str(enddate[2])
    
    stock_url = 'https://finance.google.com/finance/historical?q=' + symbol + \
                '&startdate=' + startdate + '&enddate=' + enddate + '&output=csv'
 
    raw_response = requests.get(stock_url).content
 
    stock_data = pd.read_csv(io.StringIO(raw_response.decode('utf-8')))
 
    return stock_data

In [102]:
symbol    = 'AAPL'
startdate = (7,1,2016)
enddate   = (7,1,2017)

In [103]:
#https://finance.google.com/finance/historical?q=AAPL&startdate=Jul%201%2C%202016&enddate=Jul%201%2C%202017&output=csv

In [104]:
apple_hist = google_stocks(symbol, startdate, enddate)

In [105]:
apple_hist.iloc[0:10]

        Date    Open    High     Low   Close    Volume
0  30-Jun-17  144.45  144.96  143.78  144.02  23024107
1  29-Jun-17  144.71  145.13  142.28  143.68  31499368
2  28-Jun-17  144.49  146.11  143.16  145.83  22082432
3  27-Jun-17  145.01  146.16  143.62  143.73  24761891
4  26-Jun-17  147.17  148.28  145.38  145.82  25692361
5  23-Jun-17  145.13  147.16  145.11  146.28  35439389
6  22-Jun-17  145.77  146.70  145.12  145.63  19106294
7  21-Jun-17  145.52  146.07  144.61  145.87  21265751
8  20-Jun-17  146.87  146.87  144.94  145.01  24900073
9  19-Jun-17  143.66  146.74  143.66  146.34  32541404

In [106]:
apple_hist.Low.iloc[0:10]

0    143.78
1    142.28
2    143.16
3    143.62
4    145.38
5    145.11
6    145.12
7    144.61
8    144.94
9    143.66
Name: Low, dtype: float64

In [107]:
#https://finance.google.com/finance/historical?q=INDEXSP:.INX&startdate=Jul+1%2C+2016&enddate=Jul+1%2C+2017&output=csv